<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors

In [10]:
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Importing Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', name = 'Hidden_Layer_1'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has one hidden layer, of 10 hidden units.

<a id="item4"></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

Next, we will create our loss function and set it too MSE

In [15]:
model.compile(loss='mse', optimizer='adam', metrics=['mse'])

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [21]:
# fit the model
history = model.fit(predictors, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 0s - loss: 106.1647 - mean_squared_error: 106.1647 - val_loss: 92.9972 - val_mean_squared_error: 92.9972
Epoch 2/50
 - 0s - loss: 106.3410 - mean_squared_error: 106.3410 - val_loss: 91.7095 - val_mean_squared_error: 91.7095
Epoch 3/50
 - 0s - loss: 106.0208 - mean_squared_error: 106.0208 - val_loss: 90.5071 - val_mean_squared_error: 90.5071
Epoch 4/50
 - 0s - loss: 103.6061 - mean_squared_error: 103.6061 - val_loss: 90.6195 - val_mean_squared_error: 90.6195
Epoch 5/50
 - 0s - loss: 102.3426 - mean_squared_error: 102.3426 - val_loss: 91.3228 - val_mean_squared_error: 91.3228
Epoch 6/50
 - 0s - loss: 100.8463 - mean_squared_error: 100.8463 - val_loss: 94.0732 - val_mean_squared_error: 94.0732
Epoch 7/50
 - 0s - loss: 100.5732 - mean_squared_error: 100.5732 - val_loss: 91.4972 - val_mean_squared_error: 91.4972
Epoch 8/50
 - 0s - loss: 99.1885 - mean_squared_error: 99.1885 - val_loss: 93.7608 - val_mean_squared_error: 93.7608
Epoch 9/50
 - 0s - loss: 98.9789 - mean_squared_error: 98.9789 - val_loss: 93.1142 - val_mean_squared_error: 93.1142
Epoch 10/50
 - 0s - loss: 100.9089 - mean_squared_error: 100.9089 - val_loss: 98.7965 - val_mean_squared_error: 98.7965
Epoch 11/50
 - 0s - loss: 100.0287 - mean_squared_error: 100.0287 - val_loss: 89.2070 - val_mean_squared_error: 89.2070
Epoch 12/50
 - 0s - loss: 98.1914 - mean_squared_error: 98.1914 - val_loss: 90.3128 - val_mean_squared_error: 90.3128
Epoch 13/50
 - 0s - loss: 97.4375 - mean_squared_error: 97.4375 - val_loss: 90.8850 - val_mean_squared_error: 90.8850
Epoch 14/50
 - 0s - loss: 95.7433 - mean_squared_error: 95.7433 - val_loss: 97.5583 - val_mean_squared_error: 97.5583
Epoch 15/50
 - 0s - loss: 92.4451 - mean_squared_error: 92.4451 - val_loss: 97.4055 - val_mean_squared_error: 97.4055
Epoch 16/50
 - 0s - loss: 93.6442 - mean_squared_error: 93.6442 - val_loss: 92.5811 - val_mean_squared_error: 92.5811
Epoch 17/50
 - 0s - loss: 90.6921 - mean_squared_error: 90.6921 - val_loss: 96.2858 - val_mean_squared_error: 96.2858
Epoch 18/50
 - 0s - loss: 90.4194 - mean_squared_error: 90.4194 - val_loss: 93.7563 - val_mean_squared_error: 93.7563
Epoch 19/50
 - 0s - loss: 88.8385 - mean_squared_error: 88.8385 - val_loss: 92.5857 - val_mean_squared_error: 92.5857
Epoch 20/50
 - 0s - loss: 88.4008 - mean_squared_error: 88.4008 - val_loss: 93.4807 - val_mean_squared_error: 93.4807
Epoch 21/50
 - 0s - loss: 87.1323 - mean_squared_error: 87.1323 - val_loss: 99.1077 - val_mean_squared_error: 99.1077
Epoch 22/50
 - 0s - loss: 86.7898 - mean_squared_error: 86.7898 - val_loss: 92.1802 - val_mean_squared_error: 92.1802
Epoch 23/50
 - 0s - loss: 86.0629 - mean_squared_error: 86.0629 - val_loss: 92.0592 - val_mean_squared_error: 92.0592
Epoch 24/50
 - 0s - loss: 87.8966 - mean_squared_error: 87.8966 - val_loss: 91.3979 - val_mean_squared_error: 91.3979
Epoch 25/50
 - 0s - loss: 85.5045 - mean_squared_error: 85.5045 - val_loss: 94.7723 - val_mean_squared_error: 94.7723
Epoch 26/50
 - 0s - loss: 83.2886 - mean_squared_error: 83.2886 - val_loss: 90.4455 - val_mean_squared_error: 90.4455
Epoch 27/50
 - 0s - loss: 82.8106 - mean_squared_error: 82.8106 - val_loss: 91.6031 - val_mean_squared_error: 91.6031
Epoch 28/50
 - 0s - loss: 85.9074 - mean_squared_error: 85.9074 - val_loss: 91.6554 - val_mean_squared_error: 91.6554
Epoch 29/50
 - 0s - loss: 83.5053 - mean_squared_error: 83.5053 - val_loss: 94.9048 - val_mean_squared_error: 94.9048
Epoch 30/50
 - 0s - loss: 81.2815 - mean_squared_error: 81.2815 - val_loss: 93.2438 - val_mean_squared_error: 93.2438
Epoch 31/50
 - 0s - loss: 82.7116 - mean_squared_error: 82.7116 - val_loss: 92.6239 - val_mean_squared_error: 92.6239
Epoch 32/50
 - 0s - loss: 80.5782 - mean_squared_error: 80.5782 - val_loss: 89.3968 - val_mean_squared_error: 89.3968
Epoch 33/50
 - 0s - loss: 78.9266 - mean_squared_error: 78.9266 - val_loss: 98.0432 - val_mean_squared_error: 98.0432
Epoch 34/50
 - 0s - loss: 79.5221 - mean_squared_error: 79.5221 - val_loss: 90.0381 - val_mean_squared_error: 90.0381
Epoch 35/50
 - 0s - loss: 78.1714 - mean_squared_error: 78.1714 - val_loss: 89.6877 - val_mean_squared_error: 89.6877
Epoch 36/50
 - 0s - loss: 78.5127 - mean_squared_error: 78.5127 - val_loss: 95.5610 - val_mean_squared_error: 95.5610
Epoch 37/50
 - 0s - loss: 77.6377 - mean_squared_error: 77.6377 - val_loss: 93.4171 - val_mean_squared_error: 93.4171
Epoch 38/50
 - 0s - loss: 78.2486 - mean_squared_error: 78.2486 - val_loss: 89.5944 - val_mean_squared_error: 89.5944
Epoch 39/50
 - 0s - loss: 78.2449 - mean_squared_error: 78.2449 - val_loss: 89.8541 - val_mean_squared_error: 89.8541
Epoch 40/50
 - 0s - loss: 75.6227 - mean_squared_error: 75.6227 - val_loss: 90.8485 - val_mean_squared_error: 90.8485
Epoch 41/50
 - 0s - loss: 75.2163 - mean_squared_error: 75.2163 - val_loss: 90.5157 - val_mean_squared_error: 90.5157
Epoch 42/50
 - 0s - loss: 74.3898 - mean_squared_error: 74.3898 - val_loss: 91.9221 - val_mean_squared_error: 91.9221
Epoch 43/50
 - 0s - loss: 73.5402 - mean_squared_error: 73.5402 - val_loss: 98.3127 - val_mean_squared_error: 98.3127
Epoch 44/50
 - 0s - loss: 73.5014 - mean_squared_error: 73.5014 - val_loss: 96.7887 - val_mean_squared_error: 96.7887
Epoch 45/50
 - 0s - loss: 74.4611 - mean_squared_error: 74.4611 - val_loss: 91.1775 - val_mean_squared_error: 91.1775
Epoch 46/50
 - 0s - loss: 72.9806 - mean_squared_error: 72.9806 - val_loss: 88.4643 - val_mean_squared_error: 88.4643
Epoch 47/50
 - 0s - loss: 73.5497 - mean_squared_error: 73.5497 - val_loss: 92.8146 - val_mean_squared_error: 92.8146
Epoch 48/50
 - 0s - loss: 72.2912 - mean_squared_error: 72.2912 - val_loss: 94.2068 - val_mean_squared_error: 94.2068
Epoch 49/50
 - 0s - loss: 71.3708 - mean_squared_error: 71.3708 - val_loss: 102.1746 - val_mean_squared_error: 102.1746
Epoch 50/50
 - 0s - loss: 71.5210 - mean_squared_error: 71.5210 - val_loss: 87.4392 - val_mean_squared_error: 87.4392

In [22]:
df1 = pd.DataFrame(history.history['mean_squared_error'])

In [23]:
df1.mean(axis = 0)

0    86.639801
dtype: float64

In [24]:
df1.std(axis = 0)

0    10.816403
dtype: float64

In [25]:
df1.describe

<bound method NDFrame.describe of              0
0   106.164708
1   106.341037
2   106.020835
3   103.606080
4   102.342553
5   100.846327
6   100.573172
7    99.188452
8    98.978863
9   100.908932
10  100.028720
11   98.191428
12   97.437524
13   95.743250
14   92.445052
15   93.644246
16   90.692051
17   90.419364
18   88.838519
19   88.400788
20   87.132346
21   86.789820
22   86.062851
23   87.896573
24   85.504541
25   83.288618
26   82.810563
27   85.907438
28   83.505331
29   81.281550
30   82.711643
31   80.578180
32   78.926642
33   79.522087
34   78.171388
35   78.512722
36   77.637699
37   78.248621
38   78.244946
39   75.622656
40   75.216304
41   74.389764
42   73.540166
43   73.501406
44   74.461107
45   72.980573
46   73.549692
47   72.291162
48   71.370770
49   71.521001>

## Results
**Mean** = `86.639801`
**Standard Deviation** = `10.816403`