<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors-predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Importing Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', name = 'Hidden_Layer_1'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has one hidden layer, of 10 hidden units.

<a id="item4"></a>

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = regression_model()

Next, we will create our loss function and set it too MSE

In [16]:
model.compile(loss='mse', optimizer='adam', metrics=['mse'])

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [ ]:
# fit the model
history = model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 49.9448 - mean_squared_error: 49.9448 - val_loss: 164.1172 - val_mean_squared_error: 164.1172
Epoch 2/100
 - 0s - loss: 49.8585 - mean_squared_error: 49.8585 - val_loss: 161.2362 - val_mean_squared_error: 161.2362
Epoch 3/100
 - 0s - loss: 49.2872 - mean_squared_error: 49.2872 - val_loss: 162.9112 - val_mean_squared_error: 162.9112
Epoch 4/100
 - 0s - loss: 48.7096 - mean_squared_error: 48.7096 - val_loss: 158.6276 - val_mean_squared_error: 158.6276
Epoch 5/100
 - 0s - loss: 48.3073 - mean_squared_error: 48.3073 - val_loss: 164.2598 - val_mean_squared_error: 164.2598
Epoch 6/100
 - 0s - loss: 48.0004 - mean_squared_error: 48.0004 - val_loss: 159.6035 - val_mean_squared_error: 159.6035
Epoch 7/100
 - 0s - loss: 47.5913 - mean_squared_error: 47.5913 - val_loss: 163.5012 - val_mean_squared_error: 163.5012
Epoch 8/100
 - 0s - loss: 47.3278 - mean_squared_error: 47.3278 - val_loss: 163.8091 - val_mean_squared_error: 163.8091
Epoch 9/100
 - 0s - loss: 47.0320 - mean_squared_error: 47.0320 - val_loss: 165.7340 - val_mean_squared_error: 165.7340
Epoch 10/100
 - 0s - loss: 46.7808 - mean_squared_error: 46.7808 - val_loss: 162.6860 - val_mean_squared_error: 162.6860
Epoch 11/100
 - 0s - loss: 46.4407 - mean_squared_error: 46.4407 - val_loss: 167.3343 - val_mean_squared_error: 167.3343
Epoch 12/100
 - 0s - loss: 46.0804 - mean_squared_error: 46.0804 - val_loss: 162.6981 - val_mean_squared_error: 162.6981
Epoch 13/100
 - 0s - loss: 45.6648 - mean_squared_error: 45.6648 - val_loss: 163.3313 - val_mean_squared_error: 163.3313
Epoch 14/100
 - 0s - loss: 45.4914 - mean_squared_error: 45.4914 - val_loss: 163.3564 - val_mean_squared_error: 163.3564
Epoch 15/100
 - 0s - loss: 45.2069 - mean_squared_error: 45.2069 - val_loss: 166.3056 - val_mean_squared_error: 166.3056
Epoch 16/100
 - 0s - loss: 44.9286 - mean_squared_error: 44.9286 - val_loss: 162.9011 - val_mean_squared_error: 162.9011
Epoch 17/100
 - 0s - loss: 44.5792 - mean_squared_error: 44.5792 - val_loss: 164.0720 - val_mean_squared_error: 164.0720
Epoch 18/100
 - 0s - loss: 44.3952 - mean_squared_error: 44.3952 - val_loss: 164.1343 - val_mean_squared_error: 164.1343
Epoch 19/100
 - 0s - loss: 44.3982 - mean_squared_error: 44.3982 - val_loss: 164.2742 - val_mean_squared_error: 164.2742
Epoch 20/100
 - 0s - loss: 43.7624 - mean_squared_error: 43.7624 - val_loss: 167.0341 - val_mean_squared_error: 167.0341
Epoch 21/100
 - 0s - loss: 43.5299 - mean_squared_error: 43.5299 - val_loss: 163.4260 - val_mean_squared_error: 163.4260
Epoch 22/100
 - 0s - loss: 43.3425 - mean_squared_error: 43.3425 - val_loss: 165.7755 - val_mean_squared_error: 165.7755
Epoch 23/100
 - 0s - loss: 43.2181 - mean_squared_error: 43.2181 - val_loss: 166.5447 - val_mean_squared_error: 166.5447
Epoch 24/100
 - 0s - loss: 42.6409 - mean_squared_error: 42.6409 - val_loss: 161.1068 - val_mean_squared_error: 161.1068
Epoch 25/100
 - 0s - loss: 42.3579 - mean_squared_error: 42.3579 - val_loss: 167.2061 - val_mean_squared_error: 167.2061
Epoch 26/100
 - 0s - loss: 42.2095 - mean_squared_error: 42.2095 - val_loss: 164.2441 - val_mean_squared_error: 164.2441
Epoch 27/100
 - 0s - loss: 41.9144 - mean_squared_error: 41.9144 - val_loss: 163.5521 - val_mean_squared_error: 163.5521
Epoch 28/100
 - 0s - loss: 41.7719 - mean_squared_error: 41.7719 - val_loss: 164.4486 - val_mean_squared_error: 164.4486
Epoch 29/100
 - 1s - loss: 41.5240 - mean_squared_error: 41.5240 - val_loss: 166.2068 - val_mean_squared_error: 166.2068
Epoch 30/100
 - 0s - loss: 41.4966 - mean_squared_error: 41.4966 - val_loss: 166.5179 - val_mean_squared_error: 166.5179
Epoch 31/100
 - 0s - loss: 41.2603 - mean_squared_error: 41.2603 - val_loss: 166.5864 - val_mean_squared_error: 166.5864
Epoch 32/100
 - 0s - loss: 40.8631 - mean_squared_error: 40.8631 - val_loss: 163.8050 - val_mean_squared_error: 163.8050
Epoch 33/100
 - 0s - loss: 40.6223 - mean_squared_error: 40.6223 - val_loss: 167.0103 - val_mean_squared_error: 167.0103
Epoch 34/100
 - 0s - loss: 40.4632 - mean_squared_error: 40.4632 - val_loss: 168.1655 - val_mean_squared_error: 168.1655
Epoch 35/100
 - 0s - loss: 40.3691 - mean_squared_error: 40.3691 - val_loss: 167.3883 - val_mean_squared_error: 167.3883
Epoch 36/100
 - 0s - loss: 39.9621 - mean_squared_error: 39.9621 - val_loss: 166.2071 - val_mean_squared_error: 166.2071
Epoch 37/100
 - 0s - loss: 39.8916 - mean_squared_error: 39.8916 - val_loss: 165.1043 - val_mean_squared_error: 165.1043
Epoch 38/100
 - 0s - loss: 39.5630 - mean_squared_error: 39.5630 - val_loss: 163.0554 - val_mean_squared_error: 163.0554
Epoch 39/100
 - 0s - loss: 39.5162 - mean_squared_error: 39.5162 - val_loss: 166.6126 - val_mean_squared_error: 166.6126
Epoch 40/100
 - 0s - loss: 39.2481 - mean_squared_error: 39.2481 - val_loss: 165.9922 - val_mean_squared_error: 165.9922
Epoch 41/100
 - 0s - loss: 39.2549 - mean_squared_error: 39.2549 - val_loss: 166.2706 - val_mean_squared_error: 166.2706
Epoch 42/100
 - 0s - loss: 39.0267 - mean_squared_error: 39.0267 - val_loss: 169.0780 - val_mean_squared_error: 169.0780
Epoch 43/100
 - 0s - loss: 39.0576 - mean_squared_error: 39.0576 - val_loss: 168.2623 - val_mean_squared_error: 168.2623
Epoch 44/100
 - 0s - loss: 38.5938 - mean_squared_error: 38.5938 - val_loss: 169.0252 - val_mean_squared_error: 169.0252
Epoch 45/100
 - 0s - loss: 38.3742 - mean_squared_error: 38.3742 - val_loss: 164.5498 - val_mean_squared_error: 164.5498
Epoch 46/100
 - 0s - loss: 38.2534 - mean_squared_error: 38.2534 - val_loss: 165.3494 - val_mean_squared_error: 165.3494
Epoch 47/100
 - 0s - loss: 38.0875 - mean_squared_error: 38.0875 - val_loss: 164.5621 - val_mean_squared_error: 164.5621
Epoch 48/100
 - 0s - loss: 38.0275 - mean_squared_error: 38.0275 - val_loss: 169.8995 - val_mean_squared_error: 169.8995
Epoch 49/100
 - 0s - loss: 37.7803 - mean_squared_error: 37.7803 - val_loss: 165.6207 - val_mean_squared_error: 165.6207
Epoch 50/100
 - 0s - loss: 37.7194 - mean_squared_error: 37.7194 - val_loss: 164.3450 - val_mean_squared_error: 164.3450
Epoch 51/100
 - 0s - loss: 37.7561 - mean_squared_error: 37.7561 - val_loss: 167.4668 - val_mean_squared_error: 167.4668
Epoch 52/100
 - 0s - loss: 37.5261 - mean_squared_error: 37.5261 - val_loss: 167.5515 - val_mean_squared_error: 167.5515
Epoch 53/100
 - 0s - loss: 37.1942 - mean_squared_error: 37.1942 - val_loss: 165.7392 - val_mean_squared_error: 165.7392
Epoch 54/100
 - 0s - loss: 37.0774 - mean_squared_error: 37.0774 - val_loss: 170.3288 - val_mean_squared_error: 170.3288
Epoch 55/100
 - 0s - loss: 37.2356 - mean_squared_error: 37.2356 - val_loss: 166.0733 - val_mean_squared_error: 166.0733
Epoch 56/100
 - 0s - loss: 36.8320 - mean_squared_error: 36.8320 - val_loss: 167.0555 - val_mean_squared_error: 167.0555
Epoch 57/100
 - 0s - loss: 36.5731 - mean_squared_error: 36.5731 - val_loss: 169.7092 - val_mean_squared_error: 169.7092
Epoch 58/100
 - 0s - loss: 36.6487 - mean_squared_error: 36.6487 - val_loss: 171.1451 - val_mean_squared_error: 171.1451
Epoch 59/100
 - 0s - loss: 36.4843 - mean_squared_error: 36.4843 - val_loss: 168.1052 - val_mean_squared_error: 168.1052
Epoch 60/100

In [ ]:
df1 = pd.DataFrame(history.history['mean_squared_error'])

In [ ]:
df1.mean(axis = 0)

In [ ]:
df1.std(axis = 0)

List of 50 MSE without normalised data

In [31]:
df1.describe

<bound method NDFrame.describe of              0
0   103.150091
1   101.696833
2   100.322858
3    98.642406
4    97.303008
5    95.436422
6    93.929820
7    92.265688
8    90.755317
9    89.190830
10   87.683553
11   86.232826
12   84.523059
13   83.025301
14   81.349508
15   79.697665
16   78.211063
17   76.659937
18   75.210014
19   73.996141
20   72.001395
21   70.651357
22   69.758274
23   68.401312
24   67.150691
25   66.381971
26   65.335097
27   64.118365
28   63.239646
29   62.403379
30   61.637030
31   61.023014
32   59.972825
33   59.601367
34   58.742629
35   57.824172
36   57.313529
37   56.581995
38   56.005097
39   55.372221
40   54.951597
41   54.329956
42   53.683678
43   53.400747
44   52.863659
45   52.164148
46   51.742009
47   51.135186
48   50.790283
49   50.557357>

## Results
**Mean** = `70.968326`
**Standard Deviation** = `16.304429`