<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors-predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Importing Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [37]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))  #Input Layer
    model.add(Dense(10, activation='relu', name = 'Hidden_Layer_1'))
    model.add(Dense(10, activation='relu', name = 'Hidden_Layer_2'))
    model.add(Dense(10, activation='relu', name = 'Hidden_Layer_3'))
    model.add(Dense(1)) #output Layer
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has one hidden layer, of 10 hidden units.

<a id="item4"></a>

## Train and Test the Network

Let's call the function now to create our model.

In [38]:
# build the model
model = regression_model()

Next, we will create our loss function and set it too MSE

In [39]:
model.compile(loss='mse', optimizer='adam', metrics=['mse'])

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [45]:
# fit the model
history = model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 72.9547 - mean_squared_error: 72.9547 - val_loss: 115.5628 - val_mean_squared_error: 115.5628
Epoch 2/100
 - 0s - loss: 72.1636 - mean_squared_error: 72.1636 - val_loss: 114.8231 - val_mean_squared_error: 114.8231
Epoch 3/100
 - 0s - loss: 71.7308 - mean_squared_error: 71.7308 - val_loss: 118.2679 - val_mean_squared_error: 118.2679
Epoch 4/100
 - 0s - loss: 70.7315 - mean_squared_error: 70.7315 - val_loss: 116.1403 - val_mean_squared_error: 116.1403
Epoch 5/100
 - 0s - loss: 70.2415 - mean_squared_error: 70.2415 - val_loss: 120.3773 - val_mean_squared_error: 120.3773
Epoch 6/100
 - 0s - loss: 68.9518 - mean_squared_error: 68.9518 - val_loss: 118.8866 - val_mean_squared_error: 118.8866
Epoch 7/100
 - 0s - loss: 68.5509 - mean_squared_error: 68.5509 - val_loss: 120.6133 - val_mean_squared_error: 120.6133
Epoch 8/100
 - 0s - loss: 68.4959 - mean_squared_error: 68.4959 - val_loss: 121.1007 - val_mean_squared_error: 121.1007
Epoch 9/100
 - 0s - loss: 68.6439 - mean_squared_error: 68.6439 - val_loss: 119.4861 - val_mean_squared_error: 119.4861
Epoch 10/100
 - 0s - loss: 68.2823 - mean_squared_error: 68.2823 - val_loss: 124.4334 - val_mean_squared_error: 124.4334
Epoch 11/100
 - 0s - loss: 66.9892 - mean_squared_error: 66.9892 - val_loss: 123.9133 - val_mean_squared_error: 123.9133
Epoch 12/100
 - 0s - loss: 66.0391 - mean_squared_error: 66.0391 - val_loss: 125.2323 - val_mean_squared_error: 125.2323
Epoch 13/100
 - 0s - loss: 66.1303 - mean_squared_error: 66.1303 - val_loss: 127.0901 - val_mean_squared_error: 127.0901
Epoch 14/100
 - 0s - loss: 65.5301 - mean_squared_error: 65.5301 - val_loss: 126.1185 - val_mean_squared_error: 126.1185
Epoch 15/100
 - 0s - loss: 64.5523 - mean_squared_error: 64.5523 - val_loss: 128.3325 - val_mean_squared_error: 128.3325
Epoch 16/100
 - 0s - loss: 64.4777 - mean_squared_error: 64.4777 - val_loss: 129.7561 - val_mean_squared_error: 129.7561
Epoch 17/100
 - 0s - loss: 64.0822 - mean_squared_error: 64.0822 - val_loss: 130.2696 - val_mean_squared_error: 130.2696
Epoch 18/100
 - 0s - loss: 63.6097 - mean_squared_error: 63.6097 - val_loss: 131.2731 - val_mean_squared_error: 131.2731
Epoch 19/100
 - 0s - loss: 63.1601 - mean_squared_error: 63.1601 - val_loss: 131.3153 - val_mean_squared_error: 131.3153
Epoch 20/100
 - 0s - loss: 62.3947 - mean_squared_error: 62.3947 - val_loss: 133.4052 - val_mean_squared_error: 133.4052
Epoch 21/100
 - 0s - loss: 62.5545 - mean_squared_error: 62.5545 - val_loss: 135.9249 - val_mean_squared_error: 135.9249
Epoch 22/100
 - 0s - loss: 61.9538 - mean_squared_error: 61.9538 - val_loss: 134.6967 - val_mean_squared_error: 134.6967
Epoch 23/100
 - 0s - loss: 61.5830 - mean_squared_error: 61.5830 - val_loss: 135.4667 - val_mean_squared_error: 135.4667
Epoch 24/100
 - 0s - loss: 61.3389 - mean_squared_error: 61.3389 - val_loss: 136.3455 - val_mean_squared_error: 136.3455
Epoch 25/100
 - 0s - loss: 61.2520 - mean_squared_error: 61.2520 - val_loss: 141.0405 - val_mean_squared_error: 141.0405
Epoch 26/100
 - 0s - loss: 61.0389 - mean_squared_error: 61.0389 - val_loss: 136.7512 - val_mean_squared_error: 136.7512
Epoch 27/100
 - 0s - loss: 60.1862 - mean_squared_error: 60.1862 - val_loss: 138.5805 - val_mean_squared_error: 138.5805
Epoch 28/100
 - 0s - loss: 59.9047 - mean_squared_error: 59.9047 - val_loss: 135.4527 - val_mean_squared_error: 135.4527
Epoch 29/100
 - 0s - loss: 59.7091 - mean_squared_error: 59.7091 - val_loss: 140.7325 - val_mean_squared_error: 140.7325
Epoch 30/100
 - 0s - loss: 59.2120 - mean_squared_error: 59.2120 - val_loss: 139.8308 - val_mean_squared_error: 139.8308
Epoch 31/100
 - 0s - loss: 59.1708 - mean_squared_error: 59.1708 - val_loss: 140.6249 - val_mean_squared_error: 140.6249
Epoch 32/100
 - 0s - loss: 59.0145 - mean_squared_error: 59.0145 - val_loss: 142.5734 - val_mean_squared_error: 142.5734
Epoch 33/100
 - 0s - loss: 59.2145 - mean_squared_error: 59.2145 - val_loss: 142.6526 - val_mean_squared_error: 142.6526
Epoch 34/100
 - 0s - loss: 59.6280 - mean_squared_error: 59.6280 - val_loss: 140.6890 - val_mean_squared_error: 140.6890
Epoch 35/100
 - 0s - loss: 58.7895 - mean_squared_error: 58.7895 - val_loss: 143.9349 - val_mean_squared_error: 143.9349
Epoch 36/100
 - 0s - loss: 60.1481 - mean_squared_error: 60.1481 - val_loss: 140.9960 - val_mean_squared_error: 140.9960
Epoch 37/100
 - 0s - loss: 57.6689 - mean_squared_error: 57.6689 - val_loss: 140.9699 - val_mean_squared_error: 140.9699
Epoch 38/100
 - 0s - loss: 57.6707 - mean_squared_error: 57.6707 - val_loss: 141.2228 - val_mean_squared_error: 141.2228
Epoch 39/100
 - 0s - loss: 57.3663 - mean_squared_error: 57.3663 - val_loss: 138.2619 - val_mean_squared_error: 138.2619
Epoch 40/100
 - 0s - loss: 57.0337 - mean_squared_error: 57.0337 - val_loss: 142.0455 - val_mean_squared_error: 142.0455
Epoch 41/100
 - 0s - loss: 56.9956 - mean_squared_error: 56.9956 - val_loss: 139.8862 - val_mean_squared_error: 139.8862
Epoch 42/100
 - 0s - loss: 56.9116 - mean_squared_error: 56.9116 - val_loss: 141.9928 - val_mean_squared_error: 141.9928
Epoch 43/100
 - 0s - loss: 56.7611 - mean_squared_error: 56.7611 - val_loss: 138.3993 - val_mean_squared_error: 138.3993
Epoch 44/100
 - 0s - loss: 56.4725 - mean_squared_error: 56.4725 - val_loss: 141.5837 - val_mean_squared_error: 141.5837
Epoch 45/100
 - 0s - loss: 56.1448 - mean_squared_error: 56.1448 - val_loss: 139.7986 - val_mean_squared_error: 139.7986
Epoch 46/100
 - 0s - loss: 56.0380 - mean_squared_error: 56.0380 - val_loss: 140.9467 - val_mean_squared_error: 140.9467
Epoch 47/100
 - 0s - loss: 55.5258 - mean_squared_error: 55.5258 - val_loss: 143.3700 - val_mean_squared_error: 143.3700
Epoch 48/100
 - 0s - loss: 54.5818 - mean_squared_error: 54.5818 - val_loss: 141.1915 - val_mean_squared_error: 141.1915
Epoch 49/100
 - 0s - loss: 54.8009 - mean_squared_error: 54.8009 - val_loss: 144.4725 - val_mean_squared_error: 144.4725
Epoch 50/100
 - 0s - loss: 54.1302 - mean_squared_error: 54.1302 - val_loss: 139.8710 - val_mean_squared_error: 139.8710
Epoch 51/100
 - 0s - loss: 54.3123 - mean_squared_error: 54.3123 - val_loss: 139.1028 - val_mean_squared_error: 139.1028
Epoch 52/100
 - 0s - loss: 53.8372 - mean_squared_error: 53.8372 - val_loss: 139.4222 - val_mean_squared_error: 139.4222
Epoch 53/100
 - 0s - loss: 53.4493 - mean_squared_error: 53.4493 - val_loss: 144.7134 - val_mean_squared_error: 144.7134
Epoch 54/100
 - 0s - loss: 53.2700 - mean_squared_error: 53.2700 - val_loss: 142.5816 - val_mean_squared_error: 142.5816
Epoch 55/100
 - 0s - loss: 52.7668 - mean_squared_error: 52.7668 - val_loss: 146.7477 - val_mean_squared_error: 146.7477
Epoch 56/100
 - 0s - loss: 53.5916 - mean_squared_error: 53.5916 - val_loss: 143.2031 - val_mean_squared_error: 143.2031
Epoch 57/100
 - 0s - loss: 52.6383 - mean_squared_error: 52.6383 - val_loss: 140.9996 - val_mean_squared_error: 140.9996
Epoch 58/100
 - 0s - loss: 52.3720 - mean_squared_error: 52.3720 - val_loss: 141.6070 - val_mean_squared_error: 141.6070
Epoch 59/100
 - 0s - loss: 51.8646 - mean_squared_error: 51.8646 - val_loss: 141.6787 - val_mean_squared_error: 141.6787
Epoch 60/100
 - 0s - loss: 51.6927 - mean_squared_error: 51.6927 - val_loss: 141.7007 - val_mean_squared_error: 141.7007
Epoch 61/100
 - 0s - loss: 51.2398 - mean_squared_error: 51.2398 - val_loss: 142.0680 - val_mean_squared_error: 142.0680
Epoch 62/100
 - 0s - loss: 51.2547 - mean_squared_error: 51.2547 - val_loss: 144.9386 - val_mean_squared_error: 144.9386
Epoch 63/100
 - 0s - loss: 51.0538 - mean_squared_error: 51.0538 - val_loss: 145.3421 - val_mean_squared_error: 145.3421
Epoch 64/100
 - 0s - loss: 50.7592 - mean_squared_error: 50.7592 - val_loss: 140.0073 - val_mean_squared_error: 140.0073
Epoch 65/100
 - 0s - loss: 49.9609 - mean_squared_error: 49.9609 - val_loss: 143.9352 - val_mean_squared_error: 143.9352
Epoch 66/100
 - 0s - loss: 50.0615 - mean_squared_error: 50.0615 - val_loss: 142.7365 - val_mean_squared_error: 142.7365
Epoch 67/100
 - 0s - loss: 49.6785 - mean_squared_error: 49.6785 - val_loss: 145.8765 - val_mean_squared_error: 145.8765
Epoch 68/100
 - 0s - loss: 49.9347 - mean_squared_error: 49.9347 - val_loss: 139.4648 - val_mean_squared_error: 139.4648
Epoch 69/100
 - 0s - loss: 49.6124 - mean_squared_error: 49.6124 - val_loss: 150.7862 - val_mean_squared_error: 150.7862
Epoch 70/100
 - 0s - loss: 49.4718 - mean_squared_error: 49.4718 - val_loss: 145.2313 - val_mean_squared_error: 145.2313
Epoch 71/100
 - 0s - loss: 48.7826 - mean_squared_error: 48.7826 - val_loss: 143.6908 - val_mean_squared_error: 143.6908
Epoch 72/100
 - 0s - loss: 48.1898 - mean_squared_error: 48.1898 - val_loss: 142.8772 - val_mean_squared_error: 142.8772
Epoch 73/100
 - 0s - loss: 48.0205 - mean_squared_error: 48.0205 - val_loss: 149.5725 - val_mean_squared_error: 149.5725
Epoch 74/100
 - 0s - loss: 48.0613 - mean_squared_error: 48.0613 - val_loss: 142.3734 - val_mean_squared_error: 142.3734
Epoch 75/100
 - 0s - loss: 47.8528 - mean_squared_error: 47.8528 - val_loss: 147.5795 - val_mean_squared_error: 147.5795
Epoch 76/100
 - 0s - loss: 48.5571 - mean_squared_error: 48.5571 - val_loss: 147.7250 - val_mean_squared_error: 147.7250
Epoch 77/100
 - 0s - loss: 47.3828 - mean_squared_error: 47.3828 - val_loss: 145.1095 - val_mean_squared_error: 145.1095
Epoch 78/100
 - 0s - loss: 46.9756 - mean_squared_error: 46.9756 - val_loss: 140.5135 - val_mean_squared_error: 140.5135
Epoch 79/100
 - 0s - loss: 46.8217 - mean_squared_error: 46.8217 - val_loss: 148.8630 - val_mean_squared_error: 148.8630
Epoch 80/100
 - 0s - loss: 46.3460 - mean_squared_error: 46.3460 - val_loss: 143.5020 - val_mean_squared_error: 143.5020
Epoch 81/100
 - 0s - loss: 46.4629 - mean_squared_error: 46.4629 - val_loss: 148.4158 - val_mean_squared_error: 148.4158
Epoch 82/100
 - 0s - loss: 46.8710 - mean_squared_error: 46.8710 - val_loss: 149.3726 - val_mean_squared_error: 149.3726
Epoch 83/100
 - 0s - loss: 45.9646 - mean_squared_error: 45.9646 - val_loss: 144.4145 - val_mean_squared_error: 144.4145
Epoch 84/100
 - 0s - loss: 45.4351 - mean_squared_error: 45.4351 - val_loss: 147.7385 - val_mean_squared_error: 147.7385
Epoch 85/100
 - 0s - loss: 45.8077 - mean_squared_error: 45.8077 - val_loss: 148.4785 - val_mean_squared_error: 148.4785
Epoch 86/100
 - 0s - loss: 45.6528 - mean_squared_error: 45.6528 - val_loss: 146.2012 - val_mean_squared_error: 146.2012
Epoch 87/100
 - 0s - loss: 45.3162 - mean_squared_error: 45.3162 - val_loss: 147.5703 - val_mean_squared_error: 147.5703
Epoch 88/100
 - 0s - loss: 45.7347 - mean_squared_error: 45.7347 - val_loss: 145.4268 - val_mean_squared_error: 145.4268
Epoch 89/100
 - 0s - loss: 44.6321 - mean_squared_error: 44.6321 - val_loss: 144.9121 - val_mean_squared_error: 144.9121
Epoch 90/100
 - 0s - loss: 44.5134 - mean_squared_error: 44.5134 - val_loss: 140.7824 - val_mean_squared_error: 140.7824
Epoch 91/100
 - 0s - loss: 45.1223 - mean_squared_error: 45.1223 - val_loss: 143.2754 - val_mean_squared_error: 143.2754
Epoch 92/100
 - 0s - loss: 44.1501 - mean_squared_error: 44.1501 - val_loss: 151.4047 - val_mean_squared_error: 151.4047
Epoch 93/100
 - 0s - loss: 43.8151 - mean_squared_error: 43.8151 - val_loss: 143.1717 - val_mean_squared_error: 143.1717
Epoch 94/100
 - 0s - loss: 43.4806 - mean_squared_error: 43.4806 - val_loss: 148.0813 - val_mean_squared_error: 148.0813
Epoch 95/100
 - 1s - loss: 43.4253 - mean_squared_error: 43.4253 - val_loss: 142.0470 - val_mean_squared_error: 142.0470
Epoch 96/100
 - 0s - loss: 44.2388 - mean_squared_error: 44.2388 - val_loss: 141.3249 - val_mean_squared_error: 141.3249
Epoch 97/100
 - 0s - loss: 43.3507 - mean_squared_error: 43.3507 - val_loss: 148.6604 - val_mean_squared_error: 148.6604
Epoch 98/100
 - 0s - loss: 42.8673 - mean_squared_error: 42.8673 - val_loss: 151.1794 - val_mean_squared_error: 151.1794
Epoch 99/100
 - 0s - loss: 42.8111 - mean_squared_error: 42.8111 - val_loss: 141.3010 - val_mean_squared_error: 141.3010
Epoch 100/100
 - 0s - loss: 42.8213 - mean_squared_error: 42.8213 - val_loss: 142.8614 - val_mean_squared_error: 142.8614

In [46]:
df1 = pd.DataFrame(history.history['mean_squared_error'])

In [47]:
df1.mean(axis = 0)

0    55.02798
dtype: float64

In [48]:
df1.std(axis = 0)

0    8.265335
dtype: float64

List of 50 MSE after 3 Hidden layers

In [49]:
df1.describe

<bound method NDFrame.describe of             0
0   72.954730
1   72.163622
2   71.730810
3   70.731461
4   70.241527
..        ...
95  44.238791
96  43.350718
97  42.867290
98  42.811127
99  42.821260

[100 rows x 1 columns]>

## Results
**Mean** = `38.723751`
**Standard Deviation** = `5.022587`